#app {
  background: #f8f9fa !important;
}

html {
  background: #f8f9fa !important;
}

.nav-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #191414ea;
}

#loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}

#loader .loader-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}

#loader .loader-container .base {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.01);
}

#loader .loader-container .base:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(192, 192, 192);
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%;
}

#loader .loader-container .part-2 {
  transform: scale(1.01) rotateZ(90deg);
}

#loader .loader-container .part-4 {
  transform: scale(1.01) rotateZ(180deg);
}

#loader .loader-container .part-3 {
  transform: scale(1.01) rotateZ(270deg);
}

#loader .loader-container .part-2:before {
  animation-delay: 0.35s;
  background-color: rgb(128, 128, 128);
}

#loader .loader-container .part-4:before {
  animation-delay: 0.69s;
  background-color: rgb(64, 64, 64);
}

#loader .loader-container .part-3:before {
  animation-delay: 1.04s;
  background-color: rgb(32, 32, 32);
}

@keyframes cube-loader {

  0%,
  10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}