$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Source Sans';
  src: url('source-sans.ttf');
}

* {
  font-family: 'Source Sans', sans-serif;

  &:disabled {
    cursor: not-allowed !important;
  }
}

#app {
  height: 100vh;
}

.modal-content {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.modal-backdrop {
  background-color: white;
}

.hover-icon {
  transition: opacity 0.3s;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.4 !important;
  }
}

.global-fade-enter-active,
.global-fade-leave-active {
  transition: all 0.17s;
}

.global-fade-enter,
.global-fade-leave-to {
  opacity: 0;
  transform: translateY(3px);
}

.pointer {
  cursor: pointer !important;
}

.btn {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.form-group {
  label,
  legend {
    font-weight: bold;
  }
}
