// bootstrap custom theme

// $primary: #222222;
// $secondary: #666666;
// $success: #333333;
// $danger: #434343;
// $info: #515151;
// $warning: #5f5f5f;
// $light: #eceeec;
// $dark: #111111;

@import 'bootstrap/scss/bootstrap';

// global styles

@font-face {
  font-family: 'Source Sans';
  src: url('source-sans.ttf');
}

* {
  font-family: 'Source Sans', sans-serif;


  &::selection {
    //background-color: $primary;
    //color: invert($primary);
  }

  &:disabled {
    cursor: not-allowed !important;
  }
}

#app {
  height: 100vh;
}

.modal-content {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.modal-backdrop {
  background-color: white;
}

.global-fade-enter-active,
.global-fade-leave-active {
  transition: all 0.17s;
}

.global-fade-enter,
.global-fade-leave-to {
  opacity: 0;
  transform: translateY(3px);
}

.pointer {
  cursor: pointer !important;
}