$enable-responsive-font-sizes: true;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #ffffff;
$gray: #869ab8;
$gray-dark: #384c74;
$primary: #335eea;
$secondary: #506690;
$success: #42ba96;
$info: #7c69ef;
$warning: #fad776;
$danger: #df4759;
$light: #f9fbfd;
$dark: #1b2a4e;
$primary-desat: #6c8aec;
$black: #161c2d;
$white: #ffffff;

@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Source Sans';
  src: url('source-sans.ttf');
}

* {
  font-family: 'Source Sans', sans-serif;

  &:disabled {
    cursor: not-allowed !important;
  }
}

#app {
  height: 100vh;
}

.modal-content {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.modal-backdrop {
  background-color: white;
}

.hover-icon {
  transition: opacity 0.3s;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.4 !important;
  }
}

.global-fade-enter-active,
.global-fade-leave-active {
  transition: all 0.17s;
}

.global-fade-enter,
.global-fade-leave-to {
  opacity: 0;
  transform: translateY(3px);
}

.pointer {
  cursor: pointer !important;
}

.btn {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.form-group {
  label,
  legend {
    font-weight: bold;
  }
}
