// bootstrap custom theme

// $primary: hsl(171, 100%, 41%);
// $success: hsl(141, 53%, 53%);
// $danger: hsl(348, 100%, 61%);
// $info: hsl(204, 86%, 53%);
// $warning: hsl(48, 100%, 67%);
// $light: hsl(0, 0%, 96%);
// $dark: hsl(0, 0%, 21%);

@import 'bootstrap/scss/bootstrap';

// global styles

@font-face {
  font-family: 'Source Sans';
  src: url('source-sans.ttf');
}

* {
  font-family: 'Source Sans', sans-serif;

  &:disabled {
    cursor: not-allowed !important;
  }
}

#app {
  height: 100vh;
}

.modal-content {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.modal-backdrop {
  background-color: white;
}

.hover-icon {
  transition: opacity 0.3s;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.4 !important;
  }
}

.global-fade-enter-active,
.global-fade-leave-active {
  transition: all 0.17s;
}

.global-fade-enter,
.global-fade-leave-to {
  opacity: 0;
  transform: translateY(3px);
}

.pointer {
  cursor: pointer !important;
}

.btn {
  transition: background-color .15s ease-in-out,
    border-color .15s ease-in-out,  !important;
}


.form-group {

  label,
  legend {
    font-weight: bold;
  }
}